# Decision Tree:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("male female.csv")
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     180      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [3]:
from sklearn import tree

In [7]:
x = df.iloc[:,:-1]
x

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     180      60         38
3     154      54         37
4     166      65         40
5     190      90         47
6     175      64         39
7     171      75         42
8     185      85         43
9     169      71         42

In [8]:
y = df.iloc[:, -1]
y

0      male
1    female
2    female
3    female
4      male
5      male
6      male
7    female
8    female
9      male
Name: gender, dtype: object

# Classification:

In [22]:
classify = tree.DecisionTreeClassifier()

In [23]:
classify = classify.fit(x,y)

In [30]:
prediction = classify.predict([[173,70,40]])

D:\Python\project1\venv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [31]:
prediction

array(['male'], dtype=object)