# support vector Machine

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("credit_card_default.csv")
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment_next_month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [3]:
x = df.iloc[:, :-1]
x

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,689,0,0,0,0
1,2,120000,2,2,2,26,-1,2,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,3,90000,2,2,2,34,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,4,50000,2,2,1,37,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,5,50000,1,2,1,57,-1,0,-1,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,208365,88004,31237,15980,8500,20000,5003,3047,5000,1000
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,3502,8979,5190,0,1837,3526,8998,129,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,2758,20878,20582,19357,0,0,22000,4200,2000,3100
29998,29999,80000,1,3,1,41,1,-1,0,0,...,76304,52774,11855,48944,85900,3409,1178,1926,52964,1804
29999,30000,50000,1,2,1,46,0,0,0,0,...,49764,36535,32428,15313,2078,1800,1430,1000,1000,1000

In [28]:
y = df.iloc[:,-1]
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default payment_next_month, Length: 30000, dtype: int64

In [5]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment_next_month    0
dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [36]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = .50, random_state = 0)

In [38]:
xtrain

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
4943,4944,70000,2,2,2,25,0,0,0,0,...,24979,25665,26357,26768,1398,1414,1100,1104,1000,1155
29677,29678,20000,1,2,2,34,0,0,-2,-2,...,-1,-1,309,9525,0,0,0,310,9500,800
10145,10146,400000,1,1,2,31,1,-2,-1,0,...,29186,30789,7879,13928,1,30001,2128,3009,8006,1028
3714,3715,30000,1,2,1,41,0,0,0,-2,...,0,0,0,0,1900,0,0,0,0,0
5862,5863,180000,2,2,2,26,0,0,0,0,...,7738,6369,6109,7603,2000,2000,2000,3109,5000,5520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,13124,30000,1,2,2,38,0,0,0,0,...,18432,17844,18237,10900,2100,2500,1000,1000,3000,7002
19648,19649,210000,2,1,1,33,0,0,0,0,...,192717,195700,150525,137565,7000,7791,7000,5254,5400,5380
9845,9846,130000,2,3,1,43,0,0,0,0,...,66370,43882,41063,29215,5000,3000,2500,4100,0,5000
10799,10800,50000,2,3,1,29,0,0,0,0,...,49054,7378,8103,8963,2500,3125,417,1000,1000,500
2732,2733,140000,2,1,2,25,0,0,0,0,...,26006,26771,28179,29746,2000,2000,1500,2000,2200,2000

In [39]:
ytrain

4943     0
29677    0
10145    0
3714     0
5862     0
        ..
13123    0
19648    1
9845     0
10799    0
2732     0
Name: default payment_next_month, Length: 15000, dtype: int64

In [40]:
from sklearn.svm import SVC

In [41]:
model = SVC()

In [42]:
model.fit(xtrain,ytrain)

SVC()

In [47]:
model.score(xtest,ytest)

0.7821333333333333

# Random Forest Classifier score calculator

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
rfc = RandomForestClassifier()

In [48]:
rfc.fit(xtrain,ytrain)

RandomForestClassifier()

In [49]:
rfc.score(xtest,ytest)

0.8208666666666666